body {
	background: whitesmoke;
}

/* titulo */

.title {
  font-family: 'Roboto', sans-serif;
	color: #2b3260;
	text-align: center;
	font-size: 1.5em;
	letter-spacing: -.5px;
  font-weight: bold; 
  margin-top: 50px;
}

/* formulario */

.form {
	margin-top: 50px;
	margin-bottom: 50px;
  width:100%
}

.form-group {
	display: table;
  margin: 0 auto;
}

label {
	color: #2b3260;
	margin-right: 5px;
}



/* botoes */

/* delete */

.delete-client {
  margin-top: 30px;
  text-align: center;
}

a {
  font-family: 'Roboto', sans-serif;
	color: #e60707;
	text-align: center;
	font-size: 1.5em;
	letter-spacing: -.5px;
  font-weight: bold; 
}

a:hover {
	color: #e60707;
}

/* footer */

.page-footer {
	background-color: #F5F3F3;
	color: #2b3260;
	text-align: center;
}